
.idea/vcs.xml
.idea/sqldialects.xml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.idea/dataSources.xml
.idea/cloudbooks.iml
.idea/dataSources.local.xml
.idea/dataSources/56ed839d-f503-4649-8ed9-ae51e9cd0085.xml
.idea/dataSources/56ed839d-f503-4649-8ed9-ae51e9cd0085/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/workspace.xml
